#canvas {
    animation: hue_ratate 60s infinite linear;
}

@keyframes hue_ratate {
    0% {
        filter: blur(50px) hue-rotate(0deg);
    }
    100% {
        filter: blur(50px) hue-rotate(360deg);
    }
}