* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div#container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#canvas {
    width: max(100vw, 100vh);
    height: max(100vw, 100vh);
}
